<!doctype html>
<html lang="en" dir="ltr">

<head>
<title>quickstart </title>
<meta name="description" content="Quickstart provides useful files for your next project.">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="/static/main.css">
</head>

<body>
<h1>not found</h1>
<p><a href="/">go back</a></p>
</body>
</html>